<div class="challenges-summary">
  <!-- Header image -->
  <%= image_tag("waste.jpeg", class: 'challenges-header-img') %>
  <div class="image-overlay"></div>
  <div class="challenges-desc">
    <h1>BIODIVERSITY</h1>
    <p>Global biodiversity has declined 50% in the past 40 years.This causes ecosystems to not function as effectively,
      putting all our lives at risk. Bees and other pollinators (such as bees, butterflies, hummingbirds, and bats)
      are responsible for one in every three bites of food we eat, but they're dying at an alarming rate right now.
      By cutting back on pesticide use, growing native plants, and getting involved politically in our communities,
      we can be part of the solution to the pollinator crisis.</p>
  </div>
</div>

<div class="all-challenges">
  <div class="challenges-header">CHALLENGES</div>
  <div class="accordion" id="challenge-accordion">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <!-- Challenge header -->
          <button class="accordion-toggle btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            VOLUNTEER AT A LOCAL GREEN SPACE
          </button>
        </h5>
      </div>

      <!-- Collapsible challenge body -->
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("placeholder.png", size: '100x100') %>
            </div>
            <div class="card-body-text col-md-10">
              <div>
                Green spaces reduce soil erosion, filter polluted air, sequester carbon and provide recreational space.
                They are an integral part of urban and suburban landscapes. Explore your community and help local garden,
                park or other green space to keep them clean.
              </div>

              <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="http://projectevergreen.org/resources/environmental-benefits-of-green-space/">Resource</a>
                  </li>
                </ul>
              </div>

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <button class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
